

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@layer utilities {
  .animate-fade-in {
    animation: fade-in 2s ease-out forwards;
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .animate-slide-in-right {
    animation: slide-in-right 1s ease-out forwards;
  }
  .animate-slide-in-bottom{
    animation:slide-in-bottom 1s ease-out forwards
  }

  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slide-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
